<app-navbaradmin></app-navbaradmin>


<div  class="modal fade" tabindex="-1" id="myMessage">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-body text-center text-dark">
            {{msg}}
          </h5>
          <button class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-footer">
          <button class="btn btn-block btn-primary" data-dismiss="modal" routerLink="/login">OK</button>
        </div>
      </div>
    </div>
  </div>
