<div class="sidenav-responsive" >
    <!-- <div class="list-group list-group-flush"> -->
      <a routerLink="/view" id="widget" class="list-group-item list-group-item-action bg-transparent btn-lg text-dark">Manage Users</a>
      <a routerLink="/viewCompany" id="widget" class="list-group-item list-group-item-action bg-transparent btn-lg text-dark">Manage Company</a>
      <a routerLink="/viewIpo" id="widget" class="list-group-item list-group-item-action bg-transparent btn-lg text-dark">Manage IPO</a>
      <a routerLink="/viewstocks" id="widget" class="list-group-item list-group-item-action bg-transparent btn-lg text-dark">Manage Stocks</a>
      <a routerLink="/upload" id="widget" class="list-group-item list-group-item-action bg-transparent btn-lg text-dark">Upload Stocks</a>
      <a (click)="logout()" id="widget" class="list-group-item list-group-item-action bg-danger btn-lg text-dark">Log Out</a>
    <!-- </div> -->
    </div> 