
<button type = "button" class = "btn btn-success float-right btn-lg my-0 mx-3"  routerLink="home">Logout</button>
<hr>
  <div class="container" style="width:auto;">
    <div class="row m-4">
        <div class="col" style="height: 70vh;">
                <div class="card shadow">
                    <p class="h4 card-header text-center">Services</p>
                    <div class="card-body bg-light">

                        <p class="card-text">Select Services:&nbsp;</p>
                        <a class="btn btn-success btn-block" routerLink="useripo">IPOs</a>
                        <a class="btn btn-success btn-block" routerLink="comparecharts">Compare Company</a>
                        <a class="btn btn-success btn-block" routerLink="comparesector">Compare Sectors</a>
        </div>
    </div>
</div></div></div>
