

<!-- <div class="container p-3" style="width: auto;">
    <div class= "row m-4">
      <div class="col" style="height: 50vh;">
    <div class="jumbotron-fluid shadow bg-dark" style="padding: 40px;">
        <div class="card shadow bg-dark float-right" style="padding: 10px;"><img src="../assets/logo.png" class="img-thumbnail" width="300" height="80" ></div>
         <p class="text-justify lead  text-white"><b>A stock exchange</b>, securities exchange or bourse is a facility where stockbrokers 
           and traders can buy and sell securities, such as shares of stock and bonds and other financial instruments.
            Stock exchanges may also provide facilities for the issue and redemption of such securities and instruments 
            and capital events including the payment of income and dividends Securities traded on a stock exchange include 
            stock issued by listed companies, unit trusts, derivatives, pooled investment products and bonds. Stock exchanges 
            often function as "continuous auction" markets with buyers and sellers consummating transactions via open outcry 
            at a central location such as the floor of the exchange or by using an electronic trading platform.
  
         </p></div></div>
          
          </div></div>  -->
<br>
          <div class="container">
            <div class="row">
              <div class="col-8 px-4" >
                  <h2 class="display-4">Stock Market enables buyers and sellers to negotiate prices and make trades.</h2>
                  <br>
                  <h2 class="display-5">Provided with easier options for stock detail analysis and repersentation</h2>
              </div>
              <div class="w-25 float-right border p-3 col-4 shadow rounded ">
                <h4 class="text-center display-4">Login</h4>
                <a class="btn btn-info btn-lg btn-block mt-3 mb-3 " [routerLink]="['/login']">ADMIN</a>
                <a class="btn btn-primary btn-lg btn-block my-3" [routerLink]="['/login']">USER</a>
                <div class="text-center">New User? <a [routerLink]="['/register']" class="navbar-brand">Sign Up</a></div>
              </div>
            </div>
          </div>