<div class="container" style="width:auto;">
    <div class="row m-4">
        <div class="col" style="height: 70vh;">
                <div class="card shadow">
                    <p class="h4 card-header text-center">Compare Company Charts</p>
          <form class="form-group border p-5 border-curved mt-5" >
            <label for="companyname">Company Name 1:</label>
            <input type="text" class="form-control" placeholder="Name of Company"  id="companyname">
            <label for="companyname">Company Name 2:</label>
            <input type="text" class="form-control" placeholder="Name of Company" id="companyname"><br>
            <div class="text-center">
                <div class="col">
                    <button type="submit" class="btn btn-success">Compare</button>
                </div></div>
          </form>

</div></div></div></div>
