<div class="sidenav-responsive">
    <!-- <div class="list-group list-group-flush"> -->
    <a routerLink="/user-info" id="widget"
        class="list-group-item list-group-item-action bg-transparent btn-lg text-dark">User Info</a>
    <a routerLink="/comparecharts" id="widget"
        class="list-group-item list-group-item-action bg-transparent btn-lg text-dark">Compare Company</a>
    <a routerLink="/comparesector" id="widget"
        class="list-group-item list-group-item-action bg-transparent btn-lg text-dark">Compare Sector</a>
    <a routerLink="/useripo" id="widget"
        class="list-group-item list-group-item-action bg-transparent btn-lg text-dark">IPO List</a>
    <a (click)="logout()" id="widget"
        class="list-group-item list-group-item-action bg-danger btn-lg text-dark">Log Out</a>    
    <!-- </div> -->
</div>
