<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <a href="#" class="navbar-brand"><img src="../assets/logo.png" alt="logo" height="30px" width="30px"></a>
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
   
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a href="#" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">Services</a>
        </li>
        
        
        <li class="nav-item">
            <a href='upload' class="nav-link">Contact</a>
        </li>
        
    </ul>
    </div>
</nav>

<div class="container">
    <div class="text-center text-light bg-dark"><h1>Company List</h1></div>

    <table>
        <tr>
            <th>Id</th>
            <th>Company Name</th>
            <th>Stock Exchange</th>
            <th>Price/Share in Rs.</th>
            <th>No. of Shares</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Pincode</th>
            <th>Action</th>
        </tr>
        <tr *ngFor="let ipo of ipo">
            <td>{{ipo.id}}</td>
            <td>{{ipo.name}}</td>
            <td>{{ipo.stockExchange}}</td>
            <td>{{ipo.priceShare}}</td>
            <td>{{noOfShare}}</td>
            <td>{{ipo.Address}}</td>
            <td>{{ipo.city}}</td>
            <td>{{ipo.state}}</td>
            <td>{{ipo.pincode}}</td>
            <td>{{ipo.date}}</td>
        </tr>
    </table>



</div>
